button {
    border: none;
    background-color: #1abc9c;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    
    background-color: #16a085;
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #e67e22;
  }
  
  .equals:hover {
    background-color: #d35400;
  }